.marker {
    /* background-image: url('mapbox-icon.png'); */
    /* background-size: cover; */
    background-color: blue;
    width: 10px;
    height: 10px;
    /* border-radius: 50%; */
    border-radius: 50px;
    cursor: pointer;
    }

    .mapboxgl-popup {
    max-width: 200px;
    }
    
    .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }